<!DOCTYPE html>
<html>
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113065209-1"></script>
  <script src="js/ga.js"></script>
  <meta charset="UTF-8">
  <title>TechEvents@Sophia</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <menu>
    <ul id="nav">
      <li><a href="./index.html">Upcoming events</a></li>
      <li><a href="./past.html">Past events</a></li>
      <li><a href="https://github.com/lucj/sophia.events/issues/new" target="_blank">Submit an event (via GitHub)</a></li>
    </ul> 
  </menu>

  <header>
    <div class="container text-center">
      <h1>Technical events in #SophiaAntipolis</h1>
    </div>
  </header>

  <section class="timeline">
    <div class="container">

      {{#events}}

      <div class="timeline-item">
        <div class="timeline-img"></div>
        <div class="timeline-content">
          {{#pict}}
          <img class="logo" src="./images/{{ pict }}" />
          {{/pict}}
          {{#location}}
          <img class="logo-location" src="./images/{{ location }}" />
          {{/location}}

          <h2>{{{ title }}}</h2>

          <!--
          {{#link}}
            <a class="title" target="_blank" href="{{{ link }}}">{{{ title }}}</a>
          {{/link}}
          {{^link}}
            <h2>{{{ title }}}</h2>
          {{/link}}
          //-->

          <div class="date">{{{ date }}}</div>
          <p>{{{ desc }}}</p>

          {{#link}}
            <a class="bnt-more" target="_blank" href="{{{ link }}}">More</a>
          {{/link}}
          {{^link}}
            <a class="bnt-more" href="javascript:void(0);">More info soon...</a>
          {{/link}}

        </div>
      </div>   

      {{/events}}

    </div>
  </section>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src='https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js'></script>
  <script src="js/index.js"></script>

</body>
</html>
