<!DOCTYPE html>
<html >
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113065209-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-113065209-1');
  </script>
  <meta charset="UTF-8">
  <title>Vertical Timeline</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <header>
    <div class="container text-center">
      <h1>Technical events in #SophiaAntipolis</h1>
      <p>...in one single place</p>
    </div>
  </header>

  <section class="timeline">
    <div class="container">

      {{#events}}

      <div class="timeline-item">
        <div class="timeline-img"></div>
        <div class="timeline-content timeline-card">
        <div class="timeline-img-header">
          <h2>{{{ title }}}</h2>
          <img src="./images/{{{ type }}}.png"/>
        </div>
        <div class="date">{{{ date }}}</div>
          <p>{{{ desc }}}</p>
          <a class="bnt-more" href="{{{ link }}}">More</a>
        </div>
      </div>   

      {{/events}}

    </div>
  </section>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src='https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js'></script>
  <script src="js/index.js"></script>

</body>
</html>
