section {
  padding: 50px 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
  background-color: #dfdfdf;
}

h1 {
  font-size: 200%;
  letter-spacing: 1px;
  font-weight: 400;
}

h2 {
  font-size: 20px;
}

header {
  padding: 0 0;
  padding-top: 50px;
}

header p {
  font-family: 'Allura';
  color: rgba(200, 185, 227, 1);
  margin-bottom: 0;
  font-size: 45px;
  margin-top: -10px;
}

.timeline {
  position: relative;
}
.timeline::before {
  content: '';
  background: #c5cae9;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 0px;
}
.timeline-item:nth-child(even) .timeline-content {
  float: right;
}
.timeline-item:nth-child(even) .secondary-info {
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .date {
  order: 0;
}
.timeline-item:nth-child(even) .timeline-content .logo {
  left: initial;
  right: 5px;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}
.timeline-item::after {
  content: '';
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 40px 30px 10px 30px;
  border-radius: 4px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
}
.timeline-content::after {
  content: '';
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.bnt-more {
  margin-top: 5px;
  margin-bottom: 5px;
}

.logo {
  position: absolute;
  top: 0;
  left: 5px;
  height: 44px;
  width: auto;
}

.timeline-img {
  width: 20px;
  height: 20px;
  background: #3f51b5;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 30px;
  margin-left: -10px;
}

a {
  background: #3f51b5;
  color: #ffffff;
  padding: 8px 20px;
  /*text-transform: uppercase;*/
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}

a:hover,
a:active,
a:focus {
  background: #32408f;
  color: #ffffff;
  text-decoration: none;
}

a.title {
  background: none;
  color: #3f51b5;
  padding: 0px 0px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: inline-block;
  box-shadow: none;
  text-decoration: underline;
}

a.title:hover,
a.title:active,
a.title:focus {
  background: none;
  color: #3f51b5;
  text-decoration: underline;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 0 20px;
}
.timeline-card a {
  margin-left: 20px;
}

blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3f51b5;
  padding: 0 20px;
}

.secondary-info {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
}

.date {
  background: #ff4081;
  display: inline-block;
  color: #ffffff;
  padding: 10px;
  order: 1;
}

.logo-location {
  height: 44px;
  width: auto;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

/* Handle horizontal menu */

menu {
  background: #3f51b5;
  margin: 0;
}

ul#nav {
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul#nav li {
  display: inline;
}

ul#nav li a {
  float: left;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
  padding: 0 30px;
}
